**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/.gitignore
**/.gitattributes
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/*.user
**/*.suo
**/*.log
**/node_modules
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Local.json
**/launchSettings.json
**/*.md
**/docs
**/docs-*
**/.github
